@page "/Snus"
@using SnusPunch.Shared.Models.Snus

<PageTitle>SnusPunch - Snus</PageTitle>

<MessageComponent Errors="SnusViewModel.Errors" SuccessMessages="SnusViewModel.SuccessMessages" IsBusy="SnusViewModel.IsBusy"/>

<h1>Snus</h1>

<div class="pb-1">
    <SearchSortComponent OnSearch="async () => await GetSnus()" PaginationMetaData="mPaginationMetaData" PaginationParameters="mPaginationParameters" SortProperties="mSortProperties" />
</div>


<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Pris (SEK)</th>
            <th>Portioner</th>
            <th>Vikt (g)</th>
            <th>Nikotinhalt (mg/g)</th>
            <th>Pris (SEK/portion)</th>
            <th>Niktoin (mg/portion)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sSnus in mSnusList)
        {
            <tr>
                <td>@sSnus.Name</td>
                <td>@sSnus.PriceInSek</td>
                <td>@sSnus.PortionCount</td>
                <td>@sSnus.WeightInGrams</td>
                <td>@sSnus.NicotineInMgPerGram</td>
                <td>@sSnus.PricePerPortion</td>
                <td>@sSnus.NicotinePerPortion</td>
            </tr>
        }
    </tbody>
</table>
<div style="margin-top: 10px">
    @if (mPaginationMetaData != null)
    {
        <PaginationComponent OnSearch="async () => await GetSnus()" PaginationMetaData="mPaginationMetaData" PaginationParameters="mPaginationParameters" />
    }
</div>
