@page "/Snus"

<PageTitle>SnusPunch - Snus</PageTitle>

<MessageComponent Errors="SnusViewModel.Errors" SuccessMessages="SnusViewModel.SuccessMessages" IsBusy="SnusViewModel.IsBusy"/>

<h1>Snus</h1>

<table>
    <thead>
        <tr>
            <th>Snus</th>
            <th>Pris (SEK)</th>
            <th>Portioner</th>
            <th>Vikt (g)</th>
            <th>Nikotinhalt (mg/g)</th>
            <th>Pris per Portion (SEK)</th>
            <th>Niktoin per Portion (mg)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sSnus in SnusViewModel.Snus)
        {
            <tr>
                <td>@sSnus.Name</td>
                <td>@sSnus.PriceInSek</td>
                <td>@sSnus.PortionCount</td>
                <td>@sSnus.WeightInGrams</td>
                <td>@sSnus.NicotineInMgPerGram</td>
                <td>@sSnus.PricePerPortion</td>
                <td>@sSnus.NicotinePerPortion</td>
            </tr>
        }
    </tbody>
</table>