@page "/Users"
@using Microsoft.AspNetCore.Components.Authorization
@using SnusPunch.Shared.Models.Snus
@attribute [Authorize]

<PageTitle>SnusPunch - Användare</PageTitle>

<MessageComponent Errors="UserViewModel.Errors" SuccessMessages="UserViewModel.SuccessMessages" IsBusy="UserViewModel.IsBusy" />

<div class="row align-items-center justify-content-between">
    <h2>Användare</h2>
</div>

<SearchSortComponent OnSearch="async () => await GetUsers()" PaginationMetaData="mPaginationMetaData" PaginationParameters="mPaginationParameters" SortProperties="mSortProperties" />


<table>
    <thead>
        <tr>
            <th class="profile-picture-cell"></th>
            <th>Användarnamn</th>
            <th>Favoritsnus</th>
            <th>Vänner</th>
            <th>Snusningar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sUser in mUserList)
        {
            <tr>
                <td class="row justify-content-start profile-picture-cell">
                    <button @onclick="() => ShowProfilePicture(sUser)" class="profile-picture-button">
                        <img class="profile-picture-round" src="@sUser.ProfilePictureUrl" />
                    </button>
                </td>
                <td>@sUser.UserName</td>
                <td>@sUser.FavouriteSnus</td>
                <td>@sUser.Friends</td>
                <td>@sUser.SnusPunches</td>
                <td>
                    <AuthorizeView Roles="Admin">
                        <div class="icon-row">
                            <button @onclick="async () => await DeleteUser(sUser)" title="Radera" disabled="@UserViewModel.IsBusy" class="button-icon">
                                <span class="icon-button material-symbols--delete" />
                            </button>
                        </div>
                    </AuthorizeView>
                </td>

            </tr>
        }
    </tbody>
</table>
<div class="mt-1">
    @if (mPaginationMetaData != null)
    {
        <PaginationComponent OnSearch="async () => await GetUsers()" PaginationMetaData="mPaginationMetaData" PaginationParameters="mPaginationParameters" />
    }
</div>